@using Mvc_Online_Commercial_Automation.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DepartmentsDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<br />
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.departmentName Detay Sayfası</li>
</ol>

<table class="table table-bordered">
    
    <tr>

        <th>Ad - Soyad</th>
        <th>Satışlar</th>

    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeName @item.EmployeeSurname</td>
             <td> <a href="/Department/DepartmentsEmployeeDetails/@item.EmployeeID" class="btn btn-outline-secondary">Satışlar</a></td>
        </tr>
    }
</table>






