@using Mvc_Online_Commercial_Automation.Models.Classes
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table id="tbl1" class="table table-bordered" style="margin-top:50px">
    <tr>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentName</td>
            <td><a href="/Department/DepartmentsDelete/@item.DepartmentID/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Department/DepartmentsUpdate/@item.DepartmentID/" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Department/DepartmentsDetails/@item.DepartmentID/" class="btn btn-outline-primary">Detaylar</a></td>
        </tr>


    }

</table>
<a href="/Department/DepartmentsAdd/" class="btn btn-outline-success"> Yeni Departman Ekle</a>










