@model Mvc_Online_Commercial_Automation.Models.Classes.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form method="post" class="form form-group">

    <div class="form form-group">
        @Html.LabelFor(x=> x.CategoryName)
        <br />
        @Html.TextBoxFor(x=> x.CategoryName , new {@class = "form-control"})
    </div>
    <br />
    <button class="btn btn-success">Kaydet</button>



</form>

