
@{
    ViewBag.Title = "graphic2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>graphic2</h2>
<div style="width:600px; height:600px;">
    <img src="@Url.Action("graphic2","Graphic")"  />
</div>
