<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Yeni Müşteri Kaydı</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <input type="text" class="name" name="CariName" Placeholder="Adınız" required="" />
                        <input type="text" class="name" name="CariSurname" Placeholder="Soyadınız" required="" />
                        <input type="text" class="name" name="CariCity" Placeholder="Şehriniz" required="" />
                        <input type="email" class="email" name="CariMail" Placeholder="Mail Adresini" required="" />
                        <input type="password" class="password" name="Password" Placeholder="Şifreniz" required="" />
                        <input type="submit" value="Kayıt Ol">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
